<div class="fixed flex items-end w-full h-full z-50 pointer-events-none md:hidden">
        <div class="w-full h-16 bg-white border-t-2 border-gray-300 flex flex-row pointer-events-auto text-gray-600 text-2xl">
            <div class="w-1/4 flex flex-col justify-center duration-500 transform scale-100 hover:scale-110 hover:text-indigo-500">
                <div id="showVideo" class="cursor-pointer flex flex-col items-center">
                    <i class="fa fa-camera"></i>
                    <p class="text-xs font-semibold">사진 검색</p>
                </div>
            </div>

            <div class="w-1/4 flex flex-col justify-center duration-500 transform scale-100 hover:scale-110 hover:text-indigo-500">
                <div id="showSearch" class="cursor-pointer flex flex-col items-center">
                    <i class="fa fa-search"></i>
                    <p class="text-xs font-semibold">항목 검색</p>
                </div>
            </div>

            <div class="w-1/4 flex flex-col justify-center duration-500 transform scale-100 hover:scale-110 hover:text-indigo-500">
                <a href="{% url 'users:inventory' %}" class="flex flex-col items-center">
                    <i class="fa fa-shopping-bag"></i>
                    <p class="text-xs font-semibold">인벤토리</p>
                </a>
            </div>

            <div class="w-1/4 flex flex-col justify-center duration-500 transform scale-100 hover:scale-110 hover:text-indigo-500">
                <a href="#" class="flex flex-col items-center">
                    <i class="fa fa-user"></i>
                    <p class="text-xs font-semibold">프로필</p>
                </a>
            </div>
        </div>
</div>