{% extends 'base.html' %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

<form method="post" enctype="multipart/form-data" action="{% url 'pills:camera' %}">
    {% csrf_token %}
    <div>
        <label for="camera" class="btn">파일 선택</label>
        <label for="submit" class="btn">전송</label>
    </div>
    <div>
        <input type="file" id="camera" name="camera" capture="camera" accept="image/*" text="test">
        <input type="submit" id="submit" value="전송">
    </div>
</form>

{% endblock content %}