{% extends 'base.html' %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

<div>
    <p>이미지 : {{pill.file.url}}</p>
    <p>약 이름 : {{pill.name}}</p>
    <p>복용 주기 : {{pill.cycle}}</p>
    <p>복용량 : {{pill.dosage}}</p>
    <p>복용법 : {{pill.usage}}</p>
    <p>User : {{pill.user}}</p>
    <p>{{pill.created}}</p>
</div>

{% if user.is_authenticated %}
<div class="my-4 w-full">
    {% if not pill.user %}
    <a href="{% url 'pills:add' pk=pill.pk %}">
        <div class="btn md:w-64">인벤토리 추가</div>
    </a>
    {% else %}
    <a href="{% url 'pills:delete' pk=pill.pk %}">
        <div class="btn md:w-64 bg-red-300">인벤토리 삭제</div>
    </a>
    {% endif %}
</div>
{% endif %}


{% endblock content %}