{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    통증별 추천
{% endblock page_title %}

{% block content %}

<section class="text-gray-700 body-font">
    <div class="p-4 md:mt-8 mb-24 md:mb-12 flex flex-col justify-center items-center mx-auto w-full">

        <div class="flex flex-col text-center w-full mt-20 mb-10 md:mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">증상별 알약 추천</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">- 증상 종류를 선택해주세요. -</p>
        </div>

        <div class="flex flex-wrap w-full">
            <div class="w-full md:w-1/2 lg:w-1/3 p-3">
            <a href="{% url 'pills:recommend_detail' %}?tag=감기">
                <div class="p-5 rounded-lg shadow-md border-2 h-32 md:h-40 flex items-center">
                    <div class="flex-shrink pr-4">
                        <img class="rounded-full h-16 w-16 flex items-center justify-center bg-gray-800 focus:outline-none transform scale-100 hover:scale-110 duration-300" src="{% static 'img/감기.png' %}"/>
                    </div>
                    <div class="text-left p-3">
                        <p class="text-xl pb-1 font-bold">감기</p>
                    </div>
                </div>
            </a>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-3">
            <a href="{% url 'pills:recommend_detail' %}?tag=복통">
                <div class="p-5 rounded-lg shadow-md border-2 h-32 md:h-40 flex items-center">
                    <div class="flex-shrink pr-4">
                        <img class="rounded-full h-16 w-16 flex items-center justify-center bg-gray-800 focus:outline-none transform scale-100 hover:scale-110 duration-300" src="{% static 'img/복통.png' %}"/>
                    </div>
                    <div class="text-left p-3">
                        <p class="text-xl pb-1 font-bold">복통</p>
                    </div>
                </div>
            </a>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-3">
            <a href="{% url 'pills:recommend_detail' %}?tag=두통">
                <div class="p-5 rounded-lg shadow-md border-2 h-32 md:h-40 flex items-center">
                    <div class="flex-shrink pr-4">
                        <img class="rounded-full h-16 w-16 flex items-center justify-center bg-gray-800 focus:outline-none transform scale-100 hover:scale-110 duration-300" src="{% static 'img/두통.png' %}"/>
                    </div>
                    <div class="text-left p-3">
                        <p class="text-xl pb-1 font-bold">두통</p>
                    </div>
                </div>
            </a>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-3">
            <a href="{% url 'pills:recommend_detail' %}?tag=치통">
                <div class="p-5 rounded-lg shadow-md border-2 h-32 md:h-40 flex items-center">
                    <div class="flex-shrink pr-4">
                        <img class="rounded-full h-16 w-16 flex items-center justify-center bg-gray-800 focus:outline-none transform scale-100 hover:scale-110 duration-300" src="{% static 'img/치통.png' %}"/>
                    </div>
                    <div class="text-left p-3">
                        <p class="text-xl pb-1 font-bold">치통</p>
                    </div>
                </div>
            </a>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-3">
            <a href="{% url 'pills:recommend_detail' %}?tag=염증">
                <div class="p-5 rounded-lg shadow-md border-2 h-32 md:h-40 flex items-center">
                    <div class="flex-shrink pr-4">
                        <img class="rounded-full h-16 w-16 flex items-center justify-center bg-gray-800 focus:outline-none transform scale-100 hover:scale-110 duration-300" src="{% static 'img/염증.png' %}"/>
                    </div>
                    <div class="text-left p-3">
                        <p class="text-xl pb-1 font-bold">염증</p>
                    </div>
                </div>
            </a>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-3">
            <a href="{% url 'pills:recommend_detail' %}?tag=근육통">
                <div class="p-5 rounded-lg shadow-md border-2 h-32 md:h-40 flex items-center">
                    <div class="flex-shrink pr-4">
                        <img class="rounded-full h-16 w-16 flex items-center justify-center bg-gray-800 focus:outline-none transform scale-100 hover:scale-110 duration-300" src="{% static 'img/근육통.png' %}"/>
                    </div>
                    <div class="text-left p-3">
                        <p class="text-xl pb-1 font-bold">근육통</p>
                    </div>
                </div>
            </a>
            </div>

            <div class="w-full md:w-1/2 lg:w-1/3 p-3">
            <a href="{% url 'pills:recommend_detail' %}?tag=관절통">
                <div class="p-5 rounded-lg shadow-md border-2 h-32 md:h-40 flex items-center">
                    <div class="flex-shrink pr-4">
                        <img class="rounded-full h-16 w-16 flex items-center justify-center bg-gray-800 focus:outline-none transform scale-100 hover:scale-110 duration-300" src="{% static 'img/관절통.png' %}"/>
                    </div>
                    <div class="text-left p-3">
                        <p class="text-xl pb-1 font-bold">관절통</p>
                    </div>
                </div>
            </a>
            </div>

        </div>

    </div>
</section>

{% endblock content %}