{% extends 'base.html' %}

{% block page_title %}
    Inventory
{% endblock page_title %}

{% block content %}

<div class="bg-gray-200 shadow-sm">
    <div class="mt-4 py-4 flex justify-center">
        <div class="flex flex-col items-center">
            <span class="text-3xl text-gray-700">{{request.user.getNormal}}</span>
            <div class="flex flex-row items-center">
                <div class="bg-red-500 rounded-full w-3 h-3"></div>
                <span class="text-xs font-bold ml-1">전문</span>
            </div>
        </div>
        <div class="flex flex-col items-center ml-8">
            <span class="text-3xl text-gray-700">{{request.user.getPro}}</span>
            <div class="flex flex-row items-center">
                <div class="bg-green-500 rounded-full w-3 h-3"></div>
                <span class="text-xs font-bold ml-1">일반</span>
            </div>
        </div>
    </div>
</div>

<div class="mt-6 mx-4 md:mx-12 flex flex-wrap">
    {% for pill in request.user.inventory.all %}
    <div class="w-1/5 lg:w-1/6 flex justify-center">
        <div class="m-2 md:m-6 flex flex-col items-center w-16 md:w-32 duration-500 transform scale-100 hover:scale-110">
            <div class="border-gray-300 border bg-cover bg-left-top h-16 w-16 md:w-32 md:h-32 rounded-full shadow-md hover:shadow-lg" style="background-image: url({{pill.image.url}})">
                {% if pill.sortation == "전문의약품" %}
                <div class="absolute border-gray-300 border h-4 w-4 md:h-8 md:w-8 bg-red-500 rounded-full shadow-md"></div>
                {% else %}
                <div class="absolute border-gray-300 border h-4 w-4 md:h-8 md:w-8 bg-green-500 rounded-full shadow-md"></div>
                {% endif %}
            </div>
            <span class="text-xs md:text-sm text-center truncate w-full pt-1 md:pt-2">{{pill.name}}</span>
            <a href="{% url 'pills:detail' pk=pill.pk %}" class="duration-500 absolute opacity-0 hover:opacity-50 bg-black rounded-full">
                <span class="h-16 w-16 md:w-32 md:h-32 flex justify-center items-center text-white font-semibold cursor-pointer text-base md:text-2xl">
                    자세히
                    {% comment %} <i class="fa fa-info"></i> {% endcomment %}
                </span>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}